<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                url:"/login"
            })
            .done(function(res){
                $('#loginOrRegistrationForm').html(res)
            })
        })
    </script>
    <title>Sugar</title>
</head>
<body>
    <h1>Sugar!</h1>
    <div id="loginOrRegistrationForm"></div>
</body>
</html>